@{
    Layout = "_Layout";
}
@section Scripts {
@*     <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft- signalr/5.0.8/signalr.min.js"></script>
 *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

}


<input type="text" id="userInput" placeholder="Enter your name" />
<input type="text" id="messageInput" placeholder="Enter a message" />
<button id="sendButton">Send</button>


<button id="sendButton">Send2</button>


<button id="sendButton">from marwa branch22</button>




<ul id="messagesList">hhh</ul>


<script>
    // const element = document.getElementById("sendButton");
    // element.addEventListener("click", myFunction);

    // function myFunction() {

    //     const li = document.createElement("li");
    //     li.textContent = "Done";
    //     document.getElementById("messagesList").appendChild(li);
       
    // }
</script> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>

      <script>

        const connection = new signalR.HubConnectionBuilder()
        .withUrl("/ChatHub")
        .build();

    connection.on("ReceiveMessage", (user, message) => {
        const msg = `${user}: ${message}`;
        const li = document.createElement("li");
        li.textContent = msg;
        document.getElementById("messagesList").appendChild(li);
    });


    document.getElementById("sendButton").addEventListener("click", event => {
        const user = document.getElementById("userInput").value;
        const message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
        event.preventDefault();

        connection.start().catch(err => console.error(err.toString()));

    });

    </script>

        



